@model List<TopCVWeb.Models.ApplicantViewModel>

<h2>Danh sách ứng viên</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Tên ứng viên</th>
            <th>Ngày nộp</th>
            <th>Trạng thái</th>
            <th>CV</th>
            <th>Duyệt CV</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var applicant in Model)
        {
            <tr>
                <td>@applicant.FullName</td>
                <td>@applicant.SubmitDate?.ToString("dd/MM/yyyy")</td>
                <td>@applicant.Status</td>
                <td>
                    <a asp-controller="CV" asp-action="ViewCV" asp-route-cvId="@applicant.CvId" target="_blank"  class="btn btn-sm btn-primary">
                            Xem
                        </a>
                </td>
                <td>
                    @if (applicant.Status == "Applied" || applicant.Status == "Rejected")
                    {
                        <button class="btn btn-sm btn-secondary" disabled>Duyệt</button>
                        <button class="btn btn-sm btn-secondary" disabled>Từ chối</button>
                    }
                    else
                    {
                        <a asp-action="ConfirmCV" asp-route-cvId="@applicant.CvId" asp-route-email="@applicant.Email" asp-route-appId="@applicant.ApplicationId"
                           class="btn btn-sm btn-primary"
                           onclick="return confirm('Bạn có chắc muốn duyệt CV này?');">
                            Duyệt
                        </a>
                        <a asp-action="RejectCV" asp-route-cvId="@applicant.CvId" asp-route-email="@applicant.Email" asp-route-appId="@applicant.ApplicationId"
                           class="btn btn-sm btn-danger"
                           onclick="return confirm('Bạn có chắc muốn từ chối CV này?');">
                            Từ chối
                        </a>
                    }
                </td>
                
            </tr>
        }
    </tbody>
</table>

<a asp-action="ManageApplicants" class="btn btn-secondary">Quay lại</a>
