@using DAO.Models
@model List<Cv>

<h2>My CVs</h2>

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>CV File Name</th>
            <th>Jobs</th>
            <th>Submit Dates</th>
            <th>Status</th>
            <th>View</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
           
            foreach (var cv in Model)
            {
                <tr>
                    <td>@cv.CvId</td>
                    <td>@cv.FileName</td>

                    <td>
                        @if (cv.Applications != null && cv.Applications.Any())
                        {
                          
                                @foreach (var app in cv.Applications)
                                {
                                    @app.Job.JobTitle
                                }
                           
                        }
                        else
                        {
                            <span>No Applications</span>
                        }
                    </td>

                    <td>
                        @if (cv.Applications != null && cv.Applications.Any())
                        {
                          
                                @foreach (var app in cv.Applications)
                                {
                                    @app.SubmitDate
                                }
                           
                        }
                        else
                        {
                            <span>-</span>
                        }
                    </td>

                    <td>@cv.CvStatus</td>
                    <td>
                        <a asp-controller="CV" asp-action="ViewCV" asp-route-cvId="@cv.CvId" target="_blank" class="btn btn-sm btn-primary">
                            View
                        </a>
                    </td>
                </tr>
                
            }
        }
        else
        {
            <tr><td colspan="5">No CVs uploaded yet.</td></tr>
        }
    

    </tbody>
</table>


<hr />

<h4>Upload New CV</h4>
<form asp-controller="CV" asp-action="Upload" method="post" enctype="multipart/form-data">
    <input type="hidden" name="seekerId" value="@ViewBag.SeekerId" />
    <input type="file" name="cvFile" accept=".pdf" required class="form-control mb-2" />
    <button type="submit" class="btn btn-primary">Upload CV</button>
</form>
